/* .box {
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 10px;
    border: 2px solid black;
}
.box1 {
    background-color: lightcoral;
}
.box2 {
    background-color: lightblue;
}
.box3 {
    background-color: lightgreen; */

div {
    text-align: center;
    font-size: x-large;
    padding: 15px;
    height: 100px;
    width: 700px;
    border: 5px double rgb(0, 255, 0);
    margin: 50px;
    background-color: rgb(0, 255, 255);
    color: blue;
}
img {
    border: 4px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 15px gray;
}
p {
    color: darkred;
    background-color: aqua;
    text-align: center;
    font-size: large;
    padding: 20px;
}

