*{
    margin: 0;
    padding: 0;


}.container{

    display: grid;
    height: 500px;
    width: 800px;
    background-color: aqua;
    border: 2px red solid;
    
    grid-template-columns: 1fr 1fr fr 1fr;
    /* or */
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: "header header header header"
    "main main . sidebar"
    "footer footer footer footer";
    column-gap: 10px;
    /* gap: 10px 10 px; */
    /* justify-items: center; horizental move start end strech space around 
    align-items:center; */
    /* or apply */
    place-items:center;
    justify-content: center;  
     
}


.box{
    height: 100px;
    width: 100px;
    background-color: bisque;
    border: 2px dotted;
    text-align: center;
    /* align-content: center; */
}


/* }
.box1{
    grid-area: header;
}
.box2{

    grid-area: main;
}
.box3{
    grid-area: sidebar;
}
.box4{
    grid-area: footer;
} */
/* .box1{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
} */
/* .box5{
    grid-column: 2 / 5;
    grid-row: 2 / 3;
} */
 .box4{
    grid-column: 1 / 5;
    grid-row: 3 / 4;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-template-columns: 4;
 }