/* *{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; }*/
p{
    color:darkred;
     background-color:aqua;
     text-align: center;
     font-size:large;
     padding: 20px;
}
.rs{
    color:fuchsia;
    background-color:red;
}
.rk{
    color:rgb(117, 4, 93);
}
/* body{
    background-color:aqua;
} */
#l1{
    color:lawngreen;
    font-size:30px;
}
div{
    color:blue;
    background-color:yellow;
    text-align: center;
    font-size:x-large;
    padding: 15px;
    height: 100px;
    width: 700px;
    border: 5px double red;
    margin: 50px;
}